// .card {
//     width: 400px;
//     height: 500px;
//     background-color: #66D0FF;
//     padding: 20px;
//     border-radius: 8px;
//     border: 3px solid #66D0FF;
//     box-shadow: 0 0 10px black;
//     position: relative;
//   }
  
  .cloud {
    width: 234px;
    height: 109.2px;
    background: #ECEFF1;
    box-shadow: 10px 10px rgba(0,0,0,0.2);
    border-radius: 109.2px;
    position: absolute;
    left: 96px;
    top: 70px;
  }
  
  .cloud::after, .cloud::before {
    content: "";
    position: relative;
    display: inline-block;
    background: inherit;
    border-radius: inherit;
  }
  
  .cloud::after {
    width: 78px;
    height: 78px;
    top: -46.8px;
    left: -80px;
  }
  
  .cloud::before {
    width: 109.2px;
    height: 109.2px;
    top: -31.2px;
    left: 95px;
  }
  
  .cloud {
    animation: float 1.8s infinite alternate;
  }
  
  @keyframes float {
    0% {
      transform: translateY(15px);
    }
  
    100% {
      transform: translateY(0);
    }
  }
  
  .shadow {
    width: 300px;
    height: 30px;
    background-color: rgba(0,0,0,0.2);
    margin-top: 100px;
    border-radius: 50%;
    filter: blur(7px);
    animation: sha 1.8s infinite alternate;
    position: absolute;
    left: 70px;
    bottom: 70px;
  }
  
  @keyframes sha {
    0% {
      transform: scale(1,1);
    }
  
    100% {
      transform: scale(.85,.85);
    }
  }
  